*.pidb
*.csproj
*.unityproj
*.sln
*.userprefs
*.cd
*.suo
*.log
UnityVS*
mount_client.bat

/Library
/Temp
/obj
/log
/bt
/Assets/UnityVS
/Assets/UnityVS.meta

/DataPC
/DataAndroid
/DataiOS
/DataWeb